.hotPoint{
  background-color: #fff;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 50px;
  height: auto;
  border-radius: 10px;
}
.hotPoint h1{
  background: url(image/icons.png) -665px -1113px no-repeat;
  width: 100px;
  height: 20px;
  padding-left: 20px;
  margin-left: 10px;
}
.Boutique{
  background-color: #fff;
  width: 80%;
  position: absolute;
  left: 5%;
  top: 500px;
  height: auto;
  border-radius: 5px;
}
.Boutique h1{
  margin-left: 10px;
}
.Boutique h1 span{
  background: url(image/icons.png) -75px -1044px no-repeat;
  width: 30px;
  height: 30px;
  padding-left: 40px;

}

table{
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
}
table tr:hover{
  background-color: #dcdcdc;
}
table tr:nth-child(odd):hover{
  background-color: #dcdcdc;
}
table tr td a{
  color: #000;
}
table tr th{
  background-color: #04aa43;
  text-align: left;
  width: 250px;
  padding: 10px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}
table tr:nth-child(odd){
  background-color: #b7f882;
}
table tr td{
  text-align: center;
  width: 25%;
  padding: 10px 0;
  border-spacing: 0px;
  border-bottom: 1px solid #000;
}
table tr td:last-child{
  width: 8%;
}
section.footer{
  position: absolute;
  top: 1200px;
  width: 100%;
}

